.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projects-container {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748; /* Thumb color and track color */
}

#projects-container::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
}

#projects-container::-webkit-scrollbar-thumb {
    background: #4a5568; /* Scroll thumb color */
    border-radius: 4px;
}

#projects-container::-webkit-scrollbar-track {
    background: #2d3748; /* Scroll track color */
}

#articles-container {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748; /* Thumb color and track color */
}

#articles-container::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
}

#articles-container::-webkit-scrollbar-thumb {
    background: #4a5568; /* Scroll thumb color */
    border-radius: 4px;
}

#articles-container::-webkit-scrollbar-track {
    background: #2d3748; /* Scroll track color */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}